<div class="doriasettings">
  <div class="doriasettings__title"><%=doria.title%></div>
  <div class="doriasettings__subtitle"><%=doria.subtitle%></div>
  <form class="doriasettings__form" id="doria_accept_form" method="POST">
    <% for (cookie in doria.cookies) { %>
      <option value="<%=cookie%>"><%=doria.cookies[cookie].label%></option>
      <input type="checkbox" id="doria_<%=cookie%>" name="<%=cookie%>" value="<%=cookie%>" <% if (doria.cookies[cookie].accepted) { %> checked  <% } %> <% if (doria.cookies[cookie].mandatory) { %> checked disabled <% } %>/>
      <label for="doria_<%=cookie%>"><%=doria.cookies[cookie].label%></label>
      <p><%=doria.cookies[cookie].description%></p>
    <% } %>
    <input class="doriasettings__submitbtn" type="submit" value="<%=doria.acceptButtonLabel%>">
  </form>
</div>
