.doriasettings {
  background-color: $backgroundSettings;
  color: $colorTextSettings;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1.2rem 1.5rem;
  position: relative;
  top: 15%;
  border-radius: 4px;
  z-index: 120;

  @media(min-width: 992px) {
    width: 600px;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 1px solid #010101;
  }
  &__subtitle {
    padding-top: 1rem;
    padding-bottom: 0.7rem;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $backgroundSettingsWrapper;
    z-index: 110;

    &--hidden {
        animation-name: invisible;
        opacity: 0;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
      }
  }

  &__button {
    width: 100%;
    background-color: $backgroundColorButton;
    color: $colorText;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 0.9em;
    margin: 0.2rem 0;
    transition: box-shadow .3s;
    @media(min-width: 992px) {
      width: auto;
      margin: 0.5rem 0;
    }
    &:hover {
      background-color: $hoverColorButton;
      box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
  }

  &__beforeaccept{
    margin: 1rem 0;
  }

}

.checkbox {

  &__wrapper{
    margin-right: 0.5rem;
  }

  &__container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: center;
    padding: 1rem 0;
  }
  &__description {
    margin: 0.2rem 0;
  }

  &__label {
    font-weight: bold;
  }

  &__input {
    position: relative;
  }

  &--custom{
    position: absolute;
    height: 1px;
    width: 1px;

    &:checked ~ .checkbox__value{
      background-color: $validBackgroundColorCheckbox;

      &:after{
        left: calc(90% - 20px);
      }
      &:before{
        content: 'Si';
        right: 0;
        left: 10px;
      }
    }
  }

  &__value{
    display: inline-block;
    padding: 0.9rem 0.6rem;
    min-width: 3rem;
    position: relative;
    background-color: $errorBackgroundColorCheckbox;
    border-radius: 1.8rem;
    transition: background-color 0.18s ease-in;

    &:after{
      content: " ";
      width: 20px;
      height: 20px;
      background-color: white;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      border-radius: 100%;
      transition: left 0.15s;
    }

    &:before{
      position: absolute;
      content: 'No';
      color: white;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@keyframes invisible {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }