// Background Color
$backgroundBanner: rgba(black, 0.6);
$backgroundColorButton: #0B457C;
$backgroundSettings: white;
$backgroundSettingsWrapper: rgba(black, 0.6);

//Effects Color
$hoverColorButton: rgb(10,117,217);

//Text Color
$colorText: white;
$colorTextSettings: #010101;

// Custom checkbox
$errorBackgroundColorCheckbox: #e53935;
$validBackgroundColorCheckbox: #8BC34A;